body {
    font-family: 'Roboto', sans-serif;
}

h3 {
    text-transform: uppercase;
}

pre {
    background-color: white;
    border-radius: 10px;
    width: fit-content;
    padding: 15px 30px;
}

p {
    margin: 5px 0;
}

h4 {
    margin: 10px 0;
}

.title {
    margin-top: 15px;
}

img {
    width: 50%;
}