* {
    padding: 0;
    margin: 0;
    --primary-color: #0275d8;
    --dark-color: #333333;
    --light-color: #f4f4f4;
    --danger-color: #d9534f;
    --success-color: #2FC7A1;
    --warning-color: #f0ad4e;
    --active: #704FE6;
    --active2: #785DD7;
    --white: white;
    --shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

body {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    height: 100vh;
    background-color: #f4f4f4;
    overflow-x: hidden;
}

.content-wrapper {
    min-height: 100%;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
}

header {
    padding: 10px 0;
    line-height: 1.5;
    background-color: var(--white);
    box-shadow: var(--shadow);
}

.header-content {
    display: flex;
    align-items: stretch;
    justify-content: space-between;
    margin: 0 auto;
    width: 1200px;
}

.foto {
    width: 100px;
    border: 1px solid var(--active);
}

main {
    flex: 1 1 auto;
    width: 1200px;
    margin: 0 auto;
}

.navigation {
    margin-top: 30px;
}

pre {
    background-color: white;
    border-radius: 10px;
}

ul {
    display: flex;
    align-items: center;
    list-style: none;
}

li {
    border: 1px solid var(--active);
    border-radius: 25px;
    padding: 8px 15px;
    cursor: pointer;
    color: var(--active);
    box-shadow: var(--shadow);
}

li:hover {
    color: var(--active);
    background-color: #E9E2FF;
}

li:not(:last-child) {
    margin-right: 10px;
}

ol > li::marker {
    font-weight: 600;
  }

.sidebar-list li {
    width: 90%;
    margin-right: 15px;
    box-sizing: border-box;
}

.content-section {
    display: flex;
    margin-top: 20px;
    min-height: calc(100vh - 250px);
}

.sidebar {
    flex: 0 0 200px;
    min-height: 100%;
}

.sidebar ul {
    display: flex;
    flex-direction: column;
}

.sidebar ul li {
    margin-bottom: 10px;
}

.content-lab {
    width: 80%;
    min-height: 100%;
    border-radius: 10px;
    border: 1px solid black;
    border: 1px dashed var(--active);
    border-radius: 10px;
    padding: 15px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.active {
    background-color: #E9E2FF;
}